@CHARSET "ISO-8859-1";

button {
    border: 1px #27A99D solid !important;
    background-color: #27A99D !important;
    color: #FFFFFF !important;
}

button:hover {
    border: 1px #27A99D solid !important;
    background-color: #FFFFFF !important;
    transition: background-color 0.3s !important;
    color: #27A99D !important;
}

#barraSuperior {
    background-color: #2E353D;
    border-bottom: 0px !important;
}

#logoPrincipal {
    color: white;
    font-size: 190%;
}

.inputRed {
    background-color: #F2DEDE;
}

.menuElements {
    font-size: 20px;
}

.menuElements:hover {
    background-color: #27A99D;
    transition: background-color 0.3s;
}

.menuElements > a {
    color: white !important;
}

#barraLateral {
    height: 100%;
    position: fixed;
    background-color: #2E353D;
}

.profile {
    margin: 20px 0;
}

.profile-sidebar {
    padding: 20px 0 10px 0;
    background-color: #2E353D;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #2E353D;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #FFFFFF;
    background-color: #2E353D;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.itemsPanel {
    background-color: #2E353D !important;
    color: #FFFFFF !important;
}

.itemsContent {
    background-color: #2E353D !important;
    color: #FFFFFF !important;
}

.filaTabla:hover > * {
    background-color: #FFFFFF !important;
    transition: background-color 0.3s;
}

.snip1217 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.snip1217 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1217 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
}

.snip1217 a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.snip1217 a:before,
.snip1217 a:after {
    height: 3px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #2BBBAD;
    width: 0;
}

.snip1217 a:before {
    top: 0;
    left: 0;
}

.snip1217 a:after {
    bottom: 0;
    right: 0;
}

.snip1217 a:hover,
.snip1217 .current a {
    color: #ffffff;
}

.snip1217 a:hover:before,
.snip1217 .current a:before,
.snip1217 a:hover:after,
.snip1217 .current a:after {
    width: 100%;
}

tr > th {
    color: #FFFFFF;
}

.accordionFicheros {
    border: 1px #000 solid !important;
}

.botonVisualizadorImagenes {
    background: none;
    border: none;
}

.imagenes {
    height: 2em;
}

#infoFooter {
    position: fixed;
    bottom: 0%;
    background-color: #2E353D;
    color: white;
    width: 100%;
    font-family: Montserrat;
}
